.shop {
    text-align: center;
    margin: 10vh;
    border-radius: 50%;

    h3 {
        color: violet;
        text-transform: uppercase;
        font-size: 3rem;
    }

    p {
        font-size: 2rem;
        color: $color-negro;
        padding: 10px;
    }
}

.imagenesinicio {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
}

.shop {
    border: 1px solid $color-negro;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.modelos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-blanco;
    padding: 20px;
    margin: 5px;
    box-shadow: 0px 2px 4px $color-blanco;
    border: 1px solid $color-negro;

    img {
        max-width: 100%;
    }

    p {
        margin: 10px 0;
        text-align: center;
        text-decoration: underline;
        font-size: 1.5rem;
    }

    button {
        background-color: violet;
        color: black;
        border-radius: 10px;
        padding: 10px 20px;
        font-size: 1rem;
        cursor: pointer;
        margin-top: 10px;

        &:hover {
            background-color: aquamarine;
        }
    }
}

main {
    margin: 30px;
    padding: 30px;
}

h1 {
    text-align: center;
    text-decoration: underline;
    margin: 30px 0px;
}

.Stock {
    margin: 30px;
    border: 3px solid black;
    border-radius: 10px;
}

.imgdeproductos {
    display: flex;
    width: 100%;
    height: auto;
}

.Stock p {
    color: $color-blanco;
    background-color: $color-negro;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}